

<div id="profile">

    <div class="container user-list">
        <h2>Hey {{ user.username }} wellcome to your personal page, <br>
        save here your favourites combinations</h2>
        {{#each user.favourites}}
             {{color}}
               
            <img src={{img}} class= "colors2"/> 

 </div>
  {{/each}}
                      
            
        


