<center>
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, you successfully logaed with Color Id.  You can now enter in your profile page, clicking on the following button and save there your favorite palete color.</p>
  <hr>
  <p class="mb-0">Thanks for beeing part of the comunity</p>
</div>

<a href="/nombre-app/views/profile.hbs" class="btn btn-primary my-2">Log in</a>
  </button>
  </center>