<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<br>

  <br>
    <span style="color:#FF0000">C</span>
    <span style="color:#66CC66">O</span>
    <span style="color:#669eff">l</span>
    <span style="color:#FFCCCC">O</span>
    <span style="color:#7b39a7">R</span>
    <span style="color:#889181">E</span>
    <span style="color:#ff8400">D</span>
    <span style="color:#ffffff">.</span>
    <span style="color:#1900ff">I</span>
    <span style="color:#a4f7bc">D</span>
<br>
  <div class="wrap">
    <div class="search">
      <input type="text" class="search-bar" placeholder="Serch a color... #545454">
      <button class="search-btn" Serch>
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
<center>
<br>
  {{#each schemeArray}}
  
  
   <img src= {{this.image}} alt="" id= "colors">
   {{this.hex}}
   <span onclick="copy(this)" data-copy=""></span>
   <i style="font-size:24px" href="/profile"class="fa">&#xf004;</i>
  


  {{/each}}

  
</div>
</center>
<footer>


   <br>
   <br>
  <p>Made with 🫀</p>
</footer>
