<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<br>

  <br>
   
<br>
  <div class="wrap">
    <div class="search">
      <input type="text" class="search-bar" placeholder="Serch a color... #545454">
      <button class="search-btn" Serch>
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>

<br>
<div class="contenedor">
  {{#each schemeArray}}

   <div style='background-image: url({{this.image}})'; class= "colors"> 
 <a href=/scheme/{{this.hex}}>{{this.hex}}</a>
 </div>
  {{/each}}
 
</div>
<footer>


   <br>
   <br>
  <p>Made with 🫀</p>
</footer>
