<p>AIXÒ ES EL TEU PERFIL</p>

<div id="profile">

    <div class="container user-list">
        <h2>{{ profile.username }} Favourites Colors</h2>
        <div  id="search-result" class='row search-row'>
             {{#each scheme}}
               
            <div style='background-image: url({{this.image}})'; class= "colors"> 

 </div>
  {{/each}}
                      
            
        


